body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.topcontainer {
  background-color: #e4f9f5;
  padding-top: 213px;
}
.bottom-container{
  background-color: #e4f9f5;
  padding-bottom:20px;
  margin-top: 0;
}
h1 {
  margin-top: 0;
  position: relative;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  font-family: 'Lora', serif;
}

h3 {
  font-family: 'Lora', serif;
}

.bottomcloud {
  position: absolute;
}

.topcloud {
  position: relative;
  left: 200px;
  bottom: 100px;
}
.yo{
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.btn{
  font-size: 0.8em;
text-align: center;
background:
#45b29a;
padding: .75em 2em .75em 2em;
color:
#1b7f69;
text-decoration: none;
margin: 1.5em 1.5em 0;
font-weight: 600;
border: 0;
font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
text-transform: uppercase;
}
